.title{
    border: solid 2px black;
    width: 30%;
    background-color: antiquewhite;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: blue;
}
html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    display: flex;
    font-family: 'Dosis', sans-serif;
}
